.authorization {
    position: relative;
    &__decor{
        position: absolute;
        top: rem(-100);
        right: 0;
        z-index: -1;
    } 
    // .authorization__container

    &__container {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: rem(142);
    }

    // .authorization__buttons

    &__buttons {
        gap: rem(30);
    }
}