.password {
    position: relative;
    &__decor{
        position: absolute;
        top: rem(-100);
        right: 0;
        z-index: -1;
        @media (max-width: em(662)){
            display: none;
          }
    }
    // .password__auth

    &__auth {
        margin-top: rem(70);
    }
    // .password__form

    &__form {
        margin-bottom: rem(281);
        @media (max-width: em(425)){
            margin-bottom: rem(61);
        }
    }
}