@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "base/mixins";


//////colors
$bodyColor: #070246;
$blueColor: #625ACA;
$darkBlue: #342F77;
$yellowBtn: #FDE46D;
$yellowHover: #fbea97;
$blueHover: #8681cf;
$dataColor: #B9B5E0;
$cardColor: #D6D3F3;
$whiteColor: #EAE9F6;
$darkCard: #8C89AF;
$greyColor: #999999;
$black: #000;
$white: #fff;
$someWhite: #DBD8FF;
$someBlack: #111;

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "base/icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Ubuntu";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета
//</Шрифт по умолчанию>==========================================================================================
@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,regular,500,700&display=swap&subset=cyrillic-ext);
//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================

$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина полотна (макета)
$maxWidthContainer: 1140; // Ширина ограничивающего контейнера (0 = нет ограничения)
$containerPadding: 30; // Общий отступ у контейнера (30 = по 15px слева и справа)
$containerWidth: $maxWidthContainer + $containerPadding; // Ширина страбатывания первого брейкпоинта
// Брейкпоинты
$md1: math.div($containerWidth, 16) + em; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$md2: math.div(991.98, 16) + em; // Планшеты, некоторые телефоны в горизонтальном положении
$md3: math.div(767.98, 16) + em; // Телефоны L
$md4: math.div(479.98, 16) + em; // Телефоны S

// Основной цвет шрифта
$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "base/null";

body {
	color: $mainColor;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	min-height: 100%;
	overflow-y: hidden;
	// Сайт загружен
	.loaded & {
	}
}
//</ОБОЛОЧКА>===========================================================================================================


[class*="__container"] {
	@if ($maxWidthContainer>0) {
		max-width: $maxWidthContainer + px;
		margin: 0 auto;
	}
	box-sizing: content-box;
	padding: 0 math.div($containerPadding, 2) + px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

// Подключение базовых стилей
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей отдельных страниц
@import "header";
@import "footer";
@import "home";
@import "header-small";
@import "header-big";
@import "../scss/registr-scss/login.scss";
@import "../scss/registr-scss/authorization.scss";
@import "../scss/registr-scss/auth-vk";
@import "../scss/registr-scss/auth-number";
@import "../scss/registr-scss/auth-number-sms";
@import "../scss/registr-scss/notifications";
@import "../scss/registr-scss/confirmation";
@import "../scss/registr-scss/password";
@import "../scss/registr-scss/auth-email";
@import "../scss/registr-scss/auth-email-sms";
@import "general";
@import "balance";
@import "history";
@import "cabinet";
@import "get-member";
@import "member";
@import "member-info";
@import "work";
@import "order";
@import "help";
@import "services";



//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	min-width: 0;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
.some-block {
	background-color: rgb(179, 117, 37);
}
/////Готовые классы
.btn-header {
	font-weight: 400;
		font-size: 12px;
		text-align: center;
		padding: 10px 22px;
		line-height: 14px;
		border-radius: 8px;
		text-transform: uppercase;
}